
#spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 10000;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}
.spinner-border {
  display: flex;
  padding: 0;
  margin: 1em;
}

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('img/bg-1.jpg') center/cover no-repeat fixed;
  padding-top: 175px !important;
}

nav {
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.4) !important;;
}

nav.sticky {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  padding: 1rem !important;
  background-color: rgba(0, 0, 0, 1) !important;;
}

.reveal {
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: all 1s ease;
}
.lead.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}
.h6.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

footer {
  font-size: 0.75em;
}

.fab.fa-instagram:hover {
  background: -webkit-linear-gradient(#8a3ab9, #fccc63, #fbad50, #cd486b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fab.fa-facebook-f:hover {
  color: #3b5998
}